<html>
<header>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="css/pagination.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://pagination.js.org/dist/2.1.4/pagination.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>


    <script src="js/main.js"></script>
    <script src="js/custom.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
</header>

<body ng-app="app" ng-controller="myController">
    <div class="container bg-light">
        <div class="panel panel-primary">
            <div class="panel-heading">List Public Git Repository</div>
            <div class="panel-body">
                <div class="row ">
                    <div class="col-md-12">
                        <h4 class="text-center">Create Account</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-3">
                        <div class="form-group input-group">
                            <input name="" class="form-control" placeholder="Full name" ng-model="githubname"
                                type="text">
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">

                            <input type="submit" class="btn btn-primary" value="Go" ng-click="getname()">
                        </div> <!-- form-group// -->
                    </div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <table id="repository" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Repository Name</th>
                                    <th>Statistics</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in repository_list" on-finish-render="ngRepeatFinished">
                                    <td>{{$index+1}}</td>
                                    <td>{{item.name}}</td>
                                    <td><button type="button" class="btn btn-success btn-sm btn-block"
                                            data-toggle="modal" data-target="#myModal"
                                            ng-click="get_graph(item.name)">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
    <!--container end.//-->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Weekly Commit Report</h4>
                </div>
                <div class="modal-body">
                    <div id="container">
                        <canvas id="canvas"></canvas>

                    </div>
                    <div class="row">

                        <div class="col-md-12 text-right">
                            <div id="pagination-ex"></div>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</body>
<script>

</script>


</html>